.header {
    background-color: #688345;
}

#border {
    width: 50px;
    border-bottom: 4px solid gold;
}

.cardcolor {
    width: 18rem;
    color: white;
    border: none;
}

.cardIcon {
    width: 100px;
    height: 50px;
}

@media screen and (max-width:600px) {
    .topExplan {
        display: flex;
        flex-direction: column;
    }
}